.expenseDate{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 1%;
    border-radius: 10%;
    background-color: black;
    color:white;
    align-items: center;
}

.expenseDay{
    font-size: 30px;
    font-weight: bold;
}

.expenseMonth{
    font-size: 15px;
    font-weight: 600;
}
